name: "Build and push typescript sdk"

env:
  SAIL_CLIENT_ID: ${{ secrets.SDK_TEST_TENANT_CLIENT_ID }}
  SAIL_CLIENT_SECRET: ${{ secrets.SDK_TEST_TENANT_CLIENT_SECRET }}
  SAIL_BASE_URL: ${{ secrets.SDK_TEST_TENANT_BASE_URL }}

on:
  push:
    branches:
      - main
    paths:
      - idn/**
  workflow_dispatch:

jobs:
  push_typescript_sdk_workflow:
    name: Build and push typescript SDK
    runs-on: ubuntu-latest
    steps:
      # Checkout the master branch request to run rsync
      - name: Checkout PR branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      # Checkout the main branch of api-specs
      - name: Checkout API Specs Repo
        uses: actions/checkout@v6
        with:
          repository: sailpoint-oss/typescript-sdk
          path: sdk-ts
          ref: main

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Download OpenAPI Generator
        run: |
          cd sdk-ts
          wget https://repo1.maven.org/maven2/org/openapitools/openapi-generator-cli/7.11.0/openapi-generator-cli-7.11.0.jar -O openapi-generator-cli.jar


      - name: Build V3 SDK
        id: buildV3
        run: |
          cd sdk-ts
          rm -rf sdk-output/v3
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v3.yaml -g typescript-axios -o sdk-output/v3 --global-property skipFormModel=false --config sdk-resources/v3-config.yaml

      - name: Build Beta SDK
        id: buildBeta
        if: steps.buildV3.outcome == 'success'
        run: |
          cd sdk-ts
          rm -rf sdk-output/beta
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.beta.yaml -g typescript-axios -o sdk-output/beta --global-property skipFormModel=false --config sdk-resources/beta-config.yaml --api-name-suffix BetaApi --model-name-suffix Beta

      - name: Build V2024 SDK
        id: buildV2024
        if: steps.buildBeta.outcome == 'success'
        run: |
          cd sdk-ts
          rm -rf sdk-output/v2024
          node sdk-resources/prescript.js ../idn/v2024/paths
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v2024.yaml -g typescript-axios -o sdk-output/v2024 --global-property skipFormModel=false --config sdk-resources/v2024-config.yaml --api-name-suffix V2024Api --model-name-suffix V2024
      
      - name: Build V2025 SDK
        id: buildV2025
        if: steps.buildV2024.outcome == 'success'
        run: |
          cd sdk-ts
          rm -rf sdk-output/v2025
          node sdk-resources/prescript.js ../idn/v2025/paths
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v2025.yaml -g typescript-axios -o sdk-output/v2025 --global-property skipFormModel=false --config sdk-resources/v2025-config.yaml --api-name-suffix V2025Api --model-name-suffix V2025
      - name: Build V2026 SDK
        id: buildV2026
        if: steps.buildV2025.outcome == 'success'
        run: |
          cd sdk-ts
          rm -rf sdk-output/v2026
          node sdk-resources/prescript.js ../idn/v2026/paths
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v2026.yaml -g typescript-axios -o sdk-output/v2026 --global-property skipFormModel=false --config sdk-resources/v2026-config.yaml --api-name-suffix V2026Api --model-name-suffix V2026

      - name: Run npm install and build Typescript SDK
        id: buildSDK
        if: steps.buildV2026.outcome == 'success'
        run: |
          cd sdk-ts/sdk-output
          npm install
          npm run build
          npm run test

      - name: After SDK Build
        if: steps.buildSDK.outcome == 'success'
        run: |
          cd sdk-ts

          git config --unset-all http.https://github.com/.extraheader
          git config --local user.email "devrel-service@sailpoint.com"
          git config --local user.name "GitHub Action Bot"

          if git status --porcelain | grep -q .; then
            # Changes are present
            git add .
            git commit -m "Automated build '${{ github.event.head_commit.message }}' typescript-axios sdk: ${{ github.run_id }}"
            git remote set-url origin https://${{secrets.DEVREL_SERVICE_TOKEN}}@github.com/sailpoint-oss/typescript-sdk.git
            git remote -v
            git push
          else
            # No changes are present
            echo "No changes to commit"
          fi
  push_typescript_sdk_workflow-failure:
            runs-on: ubuntu-latest
            if: ${{ always() && (needs.push_typescript_sdk_workflow.result == 'failure' || needs.push_typescript_sdk_workflow.result == 'timed_out') }}
            needs:
              - push_typescript_sdk_workflow
            steps:
              - name: Invoke GithubNotificationsFunction Lambda
                run: |
                  curl -X POST \
                    -H "Content-Type: application/json" \
                    -d '{
                      "workflowName": "${{ github.job }}",
                      "repositoryName": "${{ github.event.repository.name }}",
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                    }' \
                    "${{ secrets.NOTIFICATIONS_FUNCTION_URL }}"