name: "Build and push go sdk"

env:
  SAIL_CLIENT_ID: ${{ secrets.SDK_TEST_TENANT_CLIENT_ID }}
  SAIL_CLIENT_SECRET: ${{ secrets.SDK_TEST_TENANT_CLIENT_SECRET }}
  SAIL_BASE_URL: ${{ secrets.SDK_TEST_TENANT_BASE_URL }}

on:
  push:
    branches:
      - main
    paths:
      - idn/**
  workflow_dispatch:

jobs:
  push_go_sdk_workflow:
    name: Build and push Go SDK
    runs-on: ubuntu-latest
    steps:
      # Checkout the master branch request to run rsync
      - name: Checkout PR branch
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      # Checkout the main branch of api-specs
      - name: Checkout API Specs Repo
        uses: actions/checkout@v2
        with:
          repository: sailpoint-oss/golang-sdk
          path: golang-sdk
          ref: main

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Run Prescript
        id: prescript
        run: |
          cd golang-sdk
          node sdk-resources/prescript.js ../idn/

      - name: Build V3 SDK
        id: buildV3
        if: steps.prescript.outcome == 'success'
        run: |
          cd golang-sdk
          rm -rf ./api_v3
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v3.yaml -g go -o api_v3 --global-property skipFormModel=false --config sdk-resources/v3-config.yaml -p enumClassPrefix=true --git-repo-id golang-sdk/v2 --git-user-id sailpoint-oss
          node sdk-resources/postscript.js ./api_v3

      - name: Build Beta SDK
        id: buildBeta
        if: steps.buildV3.outcome == 'success'
        run: |
          cd golang-sdk
          rm -rf ./api_beta
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.beta.yaml -g go -o api_beta --global-property skipFormModel=false --config sdk-resources/beta-config.yaml -p enumClassPrefix=true --git-repo-id golang-sdk/v2 --git-user-id sailpoint-oss
          node sdk-resources/postscript.js ./api_beta

      - name: After SDK Build
        if: steps.buildBeta.outcome == 'success'
        run: |
          cd golang-sdk/
          go get -d ./...
          go install
          go test

          git config --unset-all http.https://github.com/.extraheader
          git config --local user.email "devrel-service@sailpoint.com"
          git config --local user.name "GitHub Action Bot"

          # Check if there are any changes
    
          if git status --porcelain | grep -q -E '^(M| A| D|R| C|U) '; then
           # Changes are present
           git add .
           git commit -m "Automated build '${{ github.event.head_commit.message }}' go sdk: ${{ github.run_id }}"
           git remote set-url origin https://${{secrets.DEVREL_SERVICE_TOKEN}}@github.com/sailpoint-oss/golang-sdk.git
           git remote -v
           git push
          else
            # No changes are present
            echo "No changes to commit"
          fi

 
  push_go_sdk_workflow-failure:
            runs-on: ubuntu-latest
            if: ${{ always() && (needs.push_go_sdk_workflow.result == 'failure' || needs.push_go_sdk_workflow.result == 'timed_out') }}
            needs:
              - push_go_sdk_workflow
            steps:
              - name: Invoke GithubNotificationsFunction Lambda
                run: |
                  curl -X POST \
                    -H "Content-Type: application/json" \
                    -d '{
                      "workflowName": "${{ github.job }}",
                      "repositoryName": "${{ github.event.repository.name }}",
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                    }' \
                    "${{ secrets.NOTIFICATIONS_FUNCTION_URL }}"
