name: "Build and push python sdk"

env:
  SAIL_CLIENT_ID: ${{ secrets.SDK_TEST_TENANT_CLIENT_ID }}
  SAIL_CLIENT_SECRET: ${{ secrets.SDK_TEST_TENANT_CLIENT_SECRET }}
  SAIL_BASE_URL: ${{ secrets.SDK_TEST_TENANT_BASE_URL }}

on:
  push:
    branches:
      - main
    paths:
      - idn/**
  workflow_dispatch:

jobs:
  push_python_sdk_workflow:
    name: Build and push python SDK
    runs-on: ubuntu-latest
    steps:
      # Checkout the master branch request to run rsync
      - name: Checkout PR branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      # Checkout the main branch of api-specs
      - name: Checkout API Specs Repo
        uses: actions/checkout@v6
        with:
          repository: sailpoint-oss/python-sdk
          path: python-sdk
          ref: main

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"


      - name: Download OpenAPI Generator
        run: |
          cd python-sdk
          wget https://repo1.maven.org/maven2/org/openapitools/openapi-generator-cli/7.11.0/openapi-generator-cli-7.11.0.jar -O openapi-generator-cli.jar

      - name: Run Prescript
        id: prescript
        run: |
          cd python-sdk
          node sdk-resources/prescript.js ../idn/

      - name: Build V3 SDK
        id: buildV3
        if: steps.prescript.outcome == 'success'
        run: |
          cd python-sdk
          rm -rf ./sailpoint/v3
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v3.yaml  -g python -o . --global-property skipFormModel=false,apiDocs=true,modelDocs=true --config sdk-resources/v3-config.yaml --enable-post-process-file
          node sdk-resources/postscript.js ./sailpoint/v3
          
      - name: Build Beta SDK
        id: buildBeta
        if: steps.buildV3.outcome == 'success'
        run: |
          cd python-sdk
          rm -rf ./sailpoint/beta
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.beta.yaml -g python -o . --global-property skipFormModel=false,apiDocs=true,modelDocs=true --config sdk-resources/beta-config.yaml --enable-post-process-file
          node sdk-resources/postscript.js ./sailpoint/beta

      - name: Build V2024 SDK
        id: buildV2024
        if: steps.buildBeta.outcome == 'success'
        run: |
          cd python-sdk
          rm -rf ./sailpoint/v2024
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v2024.yaml -g python -o . --global-property skipFormModel=false,apiDocs=true,modelDocs=true --config sdk-resources/v2024-config.yaml --enable-post-process-file
          node sdk-resources/postscript.js ./sailpoint/v2024
      
      - name: Build V2025 SDK
        id: buildV2025
        if: steps.buildV2024.outcome == 'success'
        run: |
          cd python-sdk
          rm -rf ./sailpoint/v2025
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v2025.yaml -g python -o . --global-property skipFormModel=false,apiDocs=true,modelDocs=true --config sdk-resources/v2025-config.yaml --enable-post-process-file
          node sdk-resources/postscript.js ./sailpoint/v2025
      - name: Build V2026 SDK
        id: buildV2026
        if: steps.buildV2025.outcome == 'success'
        run: |
          cd python-sdk
          rm -rf ./sailpoint/v2026
          java -jar openapi-generator-cli.jar generate -i ../idn/sailpoint-api.v2026.yaml -g python -o . --global-property skipFormModel=false,apiDocs=true,modelDocs=true --config sdk-resources/v2026-config.yaml --enable-post-process-file
          node sdk-resources/postscript.js ./sailpoint/v2026

      - name: After SDK Build
        if: steps.buildV2025.outcome == 'success'
        run: |
          cd python-sdk/
          pip install -r requirements.txt
          pip install -e .
          python validation_test.py -v

          git config --unset-all http.https://github.com/.extraheader
          git config --local user.email "devrel-service@sailpoint.com"
          git config --local user.name "GitHub Action Bot"

          if git status --porcelain | grep -q .; then
            # Changes are present
            git add .
            git commit -m "Automated build '${{ github.event.head_commit.message }}' python sdk: ${{ github.run_id }}"
            git remote set-url origin https://${{secrets.DEVREL_SERVICE_TOKEN}}@github.com/sailpoint-oss/python-sdk.git
            git remote -v
            git push
          else
            # No changes are present
            echo "No changes to commit"
          fi
  push_python_sdk_workflow-failure:
            runs-on: ubuntu-latest
            if: ${{ always() && (needs.push_python_sdk_workflow.result == 'failure' || needs.push_python_sdk_workflow.result == 'timed_out') }}
            needs:
              - push_python_sdk_workflow
            steps:
              - name: Invoke GithubNotificationsFunction Lambda
                run: |
                  curl -X POST \
                    -H "Content-Type: application/json" \
                    -d '{
                      "workflowName": "${{ github.job }}",
                      "repositoryName": "${{ github.event.repository.name }}",
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                    }' \
                    "${{ secrets.NOTIFICATIONS_FUNCTION_URL }}"